/* line 1, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .hll {
  background-color: #ffffcc;
}

/* line 2, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code {
  background: #ffffff;
}

/* line 3, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .c {
  color: #808080;
}

/* Comment */
/* line 4, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .err {
  color: #F00000;
  background-color: #F0A0A0;
}

/* Error */
/* line 5, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .k {
  color: #008000;
  font-weight: bold;
}

/* Keyword */
/* line 6, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .o {
  color: #303030;
}

/* Operator */
/* line 7, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .cm {
  color: #808080;
}

/* Comment.Multiline */
/* line 8, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .cp {
  color: #507090;
}

/* Comment.Preproc */
/* line 9, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .c1 {
  color: #808080;
}

/* Comment.Single */
/* line 10, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .cs {
  color: #cc0000;
  font-weight: bold;
}

/* Comment.Special */
/* line 11, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .gd {
  color: #A00000;
}

/* Generic.Deleted */
/* line 12, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 13, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .gr {
  color: #FF0000;
}

/* Generic.Error */
/* line 14, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
/* line 15, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .gi {
  color: #00A000;
}

/* Generic.Inserted */
/* line 16, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .go {
  color: #808080;
}

/* Generic.Output */
/* line 17, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .gp {
  color: #c65d09;
  font-weight: bold;
}

/* Generic.Prompt */
/* line 18, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 19, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 20, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .gt {
  color: #0040D0;
}

/* Generic.Traceback */
/* line 21, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .kc {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 22, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .kd {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 23, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .kn {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 24, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .kp {
  color: #003080;
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 25, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .kr {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 26, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .kt {
  color: #303090;
  font-weight: bold;
}

/* Keyword.Type */
/* line 27, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .m {
  color: #6000E0;
  font-weight: bold;
}

/* Literal.Number */
/* line 28, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .s {
  background-color: #fff0f0;
}

/* Literal.String */
/* line 29, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .na {
  color: #0000C0;
}

/* Name.Attribute */
/* line 30, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .nb {
  color: #007020;
}

/* Name.Builtin */
/* line 31, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .nc {
  color: #B00060;
  font-weight: bold;
}

/* Name.Class */
/* line 32, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .no {
  color: #003060;
  font-weight: bold;
}

/* Name.Constant */
/* line 33, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .nd {
  color: #505050;
  font-weight: bold;
}

/* Name.Decorator */
/* line 34, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .ni {
  color: #800000;
  font-weight: bold;
}

/* Name.Entity */
/* line 35, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .ne {
  color: #F00000;
  font-weight: bold;
}

/* Name.Exception */
/* line 36, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .nf {
  color: #0060B0;
  font-weight: bold;
}

/* Name.Function */
/* line 37, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .nl {
  color: #907000;
  font-weight: bold;
}

/* Name.Label */
/* line 38, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .nn {
  color: #0e84b5;
  font-weight: bold;
}

/* Name.Namespace */
/* line 39, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .nt {
  color: #007000;
}

/* Name.Tag */
/* line 40, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .nv {
  color: #906030;
}

/* Name.Variable */
/* line 41, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .ow {
  color: #000000;
  font-weight: bold;
}

/* Operator.Word */
/* line 42, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 43, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .mf {
  color: #6000E0;
  font-weight: bold;
}

/* Literal.Number.Float */
/* line 44, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .mh {
  color: #005080;
  font-weight: bold;
}

/* Literal.Number.Hex */
/* line 45, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .mi {
  color: #0000D0;
  font-weight: bold;
}

/* Literal.Number.Integer */
/* line 46, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .mo {
  color: #4000E0;
  font-weight: bold;
}

/* Literal.Number.Oct */
/* line 47, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .sb {
  background-color: #fff0f0;
}

/* Literal.String.Backtick */
/* line 48, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .sc {
  color: #0040D0;
}

/* Literal.String.Char */
/* line 49, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .sd {
  color: #D04020;
}

/* Literal.String.Doc */
/* line 50, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .s2 {
  background-color: #fff0f0;
}

/* Literal.String.Double */
/* line 51, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .se {
  color: #606060;
  font-weight: bold;
  background-color: #fff0f0;
}

/* Literal.String.Escape */
/* line 52, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .sh {
  background-color: #fff0f0;
}

/* Literal.String.Heredoc */
/* line 53, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .si {
  background-color: #e0e0e0;
}

/* Literal.String.Interpol */
/* line 54, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .sx {
  color: #D02000;
  background-color: #fff0f0;
}

/* Literal.String.Other */
/* line 55, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .sr {
  color: #000000;
  background-color: #fff0ff;
}

/* Literal.String.Regex */
/* line 56, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .s1 {
  background-color: #fff0f0;
}

/* Literal.String.Single */
/* line 57, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .ss {
  color: #A06000;
}

/* Literal.String.Symbol */
/* line 58, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .bp {
  color: #007020;
}

/* Name.Builtin.Pseudo */
/* line 59, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .vc {
  color: #306090;
}

/* Name.Variable.Class */
/* line 60, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .vg {
  color: #d07000;
  font-weight: bold;
}

/* Name.Variable.Global */
/* line 61, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .vi {
  color: #3030B0;
}

/* Name.Variable.Instance */
/* line 62, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/other/syntax_coloring/colorful.css */
code .il {
  color: #0000D0;
  font-weight: bold;
}

/* Literal.Number.Integer.Long */
