/* line 1, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  background: #fdfdfd;
  color: #3c4c3c;
}

/* line 9, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header, main {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 3em 1em;
  position: relative;
}

/* line 17, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header .slogan {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 130%;
  font-color: #e81c4f;
}

/* line 25, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
p {
  text-align: justify;
}

/* line 29, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
a {
  color: #e81c4f;
  text-decoration: none;
}

/* line 34, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
a:hover {
  color: #3c4c3c;
}

/* line 38, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
pre {
  padding: 1em;
  background-color: #f5f5f5;
}

/* line 43, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
table {
  border: solid 1px;
  border-color: #ddd;
}

/* line 48, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
caption {
  font-weight: bold;
}

/* line 52, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
thead {
  background-color: #f5f5f5;
  font-weight: bold;
}

/* line 57, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
tr {
  background-color: #f5f5f5;
}

/* line 61, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
td {
  padding: 0.2em;
}

/* line 65, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header.home {
  background-color: #666;
  background-image: url("../images/banner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
  line-height: 1.2;
  max-width: none;
  padding: 10vw 2em;
  text-align: center;
  position: relative;
  /* To align the nav */
}

/* line 79, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header > h1 {
  font-size: 300%;
  color: #e81c4f;
  padding-top: 0;
  padding-bottom: 1.5em;
}

/* line 86, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header > nav {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 93, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header > nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #e81c4f;
}

/* line 101, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header li {
  float: left;
  padding: 0;
}

/* line 106, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header li > a {
  display: block;
  color: white;
  text-align: center;
  font-size: 120%;
  padding: 1em 1.5em;
}

/* line 114, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header li > a:hover {
  background-color: #3c4c3c;
  color: #fdfdfd;
}

/* line 119, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
img {
  display: block;
  margin: auto;
  padding: 1em;
}

/* line 125, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
.about {
  border-bottom: solid 1px;
  border-color: #ddd;
}

/* line 130, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
.work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  border-bottom: solid 1px;
  border-color: #ddd;
}

/* line 139, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
.work > div {
  margin: 0.5em;
  flex-grow: 1;
}

/* line 144, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
.work-description {
  text-align: center;
}

/* line 148, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
footer {
  clear: both;
  margin-bottom: 2em;
  padding: 2em;
}

/* line 154, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
div.copyright {
  float: left;
}

/* line 158, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
div.social {
  float: right;
}

/* line 162, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
footer a {
  margin-right: 2em;
}

/* line 166, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
footer a > span {
  display: none;
}

/* line 170, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
footer a::before {
  /* icomoon.io defaults */
  font-family: 'icomoon';
  font-size: 150%;
  color: #e81c4f;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/* line 183, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
.github::before {
  content: "\eab0";
}

/* line 187, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
.twitter::before {
  content: "\ea96";
}

/* line 192, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header.blog {
  padding: 0;
  border-bottom: solid 1px;
  border-color: #ddd;
}

/* line 198, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header.blog > h1 {
  display: inline-block;
  padding: 0;
  margin-left: 0;
  font: 80%;
}

/* line 205, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header.blog > p {
  display: inline-block;
}

/* line 209, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header.blog > nav {
  position: static;
  float: right;
  display: inline-block;
}

/* line 215, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
header.blog li > a {
  font-size: 100%;
  padding: 1em 1.5em;
}

/* line 219, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
.feed {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 226, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
.feed > span {
  display: none;
}

/* line 230, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
.feed::before {
  /* icomoon.io defaults */
  font-family: 'icomoon';
  color: #e81c4f;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/* line 242, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
.feed::before {
  content: "\ea9b";
}

/* line 246, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
.blog-wrapper {
  margin: 0 auto;
  max-width: 60em;
  line-height: 1.5;
  padding: 3em 1em;
}

/* line 253, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
a.readmore {
  padding: 0.7em 1em;
  border: solid 1px;
  border-color: #e81c4f;
  border-radius: 3px;
  background-color: #e81c4f;
  color: #fdfdfd;
}

/* line 262, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
a.readmore:hover {
  background-color: #3c4c3c;
  border-color: #3c4c3c;
  color: #fdfdfd;
}

@media only screen and (min-width: 640px) {
  /* line 269, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
  h2 {
    text-indent: 1em;
  }

  /* line 273, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* line 279, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
  .about > div {
    margin: 1em;
    flex-grow: 1;
  }

  /* Blog */
  /* line 285, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
  .blog-wrapper > main {
    box-sizing: border-box;
    float: left;
    width: 66%;
    margin-right: 1%;
    padding: 0em 1em;
  }

  /* line 293, /Users/nicola/Web/static/nanoc4-template/content/assets/stylesheets/_sample.scss */
  .blog-wrapper > aside {
    box-sizing: border-box;
    float: right;
    width: 33%;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?sz2x5v");
  src: url("../fonts/icomoon.eot?sz2x5v#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?sz2x5v") format("truetype"), url("../fonts/icomoon.woff?sz2x5v") format("woff"), url("../fonts/icomoon.svg?sz2x5v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
