<h6>
  Posted on <time datetime="<%= @item[:created_at].strftime('%Y-%m-%d') %>"><%= @item[:created_at].strftime('%A %b %e, %Y') %></time>
  by <a href="<%= @item[:contact_url] || @config[:blog][:contact_url] %>"><%= @item[:author] || @config[:blog][:author] %></a>
</h6>
