<% render '/blog/default.*' do %>
  <h2><%= @item[:title] %></h2>
  <% items_with_tag(tag).sort { |i1, i2| i2[:created_at] <=> i1[:created_at] }.each do |post| %>
    <%= render '/blog/partials/article_summary.*', :item => post %>
  <% end %>
<% end %>

