<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <% @config[:footer].each do |item| %>
            <li><a href="<%= item[:link] %>"><%= item[:title] %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</footer>
