<footer>
  <div class="copyright">
    <p>&copy; Copyright no one at all. Go to town.</p>
  </div>

  <div class="social">
    <a href="<%= @config[:github_url] %>" class="github"><span>GitHub</span></a>
    <a href="<%= @config[:twitter_url] %>" class="twitter"><span>Twitter</span></a>
  </div>
</footer>
