<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
    <title>SITE NAME - <%= @item[:title] %></title>
    <link rel="stylesheet" href="css/main.css">
    <script src="javascripts/modernizr.js"></script>
  </head>
  <body>
    <%= yield %>
    <script src="javascripts/foundation.js"></script>
  </body>
</html>
